/.vs
/bin
/obj
/src/Services/Board/Board.API/obj
/src/Services/Board/Board.API/bin
/src/Services/Identity/Identity.API/obj
/src/Services/Identity/Identity.API/bin
/src/Services/User/User.API/obj
/src/Services/User/User.API/bin
/src/Services/User/Cube.User.API
/src/Services/User/User.Domain/bin
/src/Services/User/User.Domain/obj
/.vs
/src/Services/Board/Board.Domain/bin
/src/Services/Board/Board.Domain/obj
/src/Services/ServiceProtos/bin
/src/Services/ServiceProtos/obj
/src/Tests/Application.FunctionalTests/bin
/src/Tests/Application.FunctionalTests/obj
/src/ApiGateway/bin
/src/ApiGateway/obj
/src/Services/User/User.Repository/bin
/src/Services/User/User.Repository/obj
/src/Services/Board/Board.Respository/bin
/src/Services/Board/Board.Respository/obj
/src/Infrastructure/Data/bin
/src/Infrastructure/Data/obj
