/.vs
/bin
/obj
/src/ApiGateways/Web.Bff.DiscussionBoard/obj
/src/ApiGateways/Web.Bff.DiscussionBoard/bin
/src/Services/Board/Board.API/obj
/src/Services/Board/Board.API/bin
/src/Services/Identity/Identity.API/obj
/src/Services/Identity/Identity.API/bin
/src/Services/User/User.API/obj
/src/Services/User/User.API/bin
/src/Services/User/Cube.User.API
/src/Services/User/User.Domain/bin
/src/Services/User/User.Domain/obj
/.vs
/src/Services/Board/Board.Domain/bin
/src/Services/Board/Board.Domain/obj
/src/Tests/Application.FunctionalTests/bin
/src/Tests/Application.FunctionalTests/obj
