body {
  background-image: url(../assets/login_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/** {
  margin: 0;
  padding: 0;
}*/

#wrap {
  height: 1000px;
  width: 100%;
  background-position: center center;
  position: relative;
}

#head {
  height: 120px;
  width: 100px;
  background-color: #66cccc;
  text-align: center;
  position: relative;
}

#wrap .logGet {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    background-color: #ffffff;
    top: 100px;
    left: 0;
    right: 0;
    margin: 120px auto;
    /*top: 50%;*/
    /*right: 160px;*/
    /*transform: translateY(-60%);*/
}

.logGet .logD.logDtip .p1 {
  display: inline-block;
  font-size: 28px;
  margin-top: 30px;
  width: 90%;
}

#wrap .logGet .logD.logDtip {
  width: 86%;
  border-bottom: 1px solid #ee7700;
  margin-bottom: 60px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.logGet .lgD input {
  width: 100%;
  height: 42px;
  /*text-indent: 2.5rem;*/
}

#wrap .logGet .lgD {
  width: 86%;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}

.title {
  font-family: "宋体";
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 使用css3的transform来实现 */
  font-size: 36px;
  height: 40px;
  width: 30%;
}

.login-tip {
    font-size: 12px;
    text-align: center;
    color: #c3c3c3;
}

.copyright {
    font-family: "宋体";
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 使用css3的transform来实现 */
    height: 60px;
    width: 40%;
    text-align: center;
}
